
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button:focus {
  outline: none;
  box-shadow: none;
}
/* In your CSS file (e.g., App.css) */
.custom-placeholder::placeholder {
  color: #d3d3d3; /* Light gray color */
  opacity: 1; /* Ensures that the color specified is used */
}

/* Custom CSS for animated underline effect */
.nav-link-custom {
  position: relative;
  text-decoration: none;
  color: black; /* Default link color */
}

.nav-link-custom::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #E10174; /* Custom underline color */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link-custom:hover::after,
.nav-link-custom:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link-custom:hover,
.nav-link-custom:focus {
  color: #E10174; /* Change text color on hover/focus */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-modal-width .modal-dialog {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  .custom-modal-width .modal-dialog {
    max-width: 100%;
  }
}



