/* ModalStyles.css */

.table thead th {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
  }
  
  .table tbody tr:nth-child(odd) {
    background-color: #f8f9fa; /* Light gray for odd rows */
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #ffffff; /* White for even rows */
  }
  
  .table tbody tr:hover {
    background-color: #e9ecef; /* Light gray for hover effect */
  }
  
  .table th, .table td {
    vertical-align: middle; /* Aligns content vertically in the center */
  }
  
  /* Optional: Add some padding for cells */
  .table td {
    padding: 15px;
  }
  /* Dropdown Container */
.dropdown-container {
  position: relative;
  width: 200px;
  display: inline-block;
}

/* Dropdown Container */
.dropdown-container {
  position: relative;
  width: 200px;
  display: inline-block;
}

/* Styling the dropdown button (Select Market with arrow) */
.dropdown-button {
  padding: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  font-weight: bold;
}

.dropdown-button:hover {
  background-color: #f1f1f1;
}

.dropdown-arrow {
  margin-left: 5px;
}

/* Dropdown Content */
.checkbox-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  margin-top: 5px;
  border-radius: 4px;
  display: block;
  /* Add flexbox to ensure equal alignment */
  display: flex;
  flex-direction: column;
  align-items: flex-start;  /* Align checkboxes to the left */
}

/* Checkbox Item Styling */
.checkbox-item {
  margin-bottom: 8px;
}

.checkbox-item label {
  margin-left: 5px;
}

/* Styling the checkboxes */
input[type='checkbox'] {
  cursor: pointer;
}

/* Styling the Select All option */
.checkbox-item:first-child {
  font-weight: bold;
  margin-bottom: 12px;
}

.checkbox-item:first-child input {
  margin-top: -2px;
}
.date-picker {
  /* margin-top: 15px; */
  margin-bottom: 10px;
}

.date-picker label {
  font-weight: bold;
  margin-right: 10px;
}

.date-picker input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}